label{
    color: white;
    margin-bottom: 0.5rem;
}
form{
    display: flex;
    flex-direction: column;
    padding: 4rem 3rem;
    margin: auto;
    max-width: 900px;
}
form input{
    background-color: rgba(255, 255,255, 0.1);
    padding: 10px 8px;
    color: white;
    margin-bottom: 1rem;
    font-size: 20px;
}
form textarea{
    background-color: rgba(255, 255,255, 0.1);
    padding: 10px 8px;
    color: white;
    margin-bottom: 1rem;
    font-size: 20px;
}